$white: #fff;

//trails buttons
$noviceInvestor: #A8CABA;
$intermediateInvestor: #838689;
$advancedInvestor: #5D4157;

//novice trail
$defaultFont: #333;
$cdiColor: #DC6EBE;
$selicColor: #00c86f;
$ipcaColor: #6BD1FF;
$igpmColor: #6b5be2;
$igpdiColor: #F16165;
$poupancaColor: #ff8c2a;